{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <style>
        body{
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }
        .VCenpiste{
            height: 100vh;
        }
        .docVC{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 40%;

        }
        .DiscCard{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            height: 60%;

        }
        .titleVCP{
            font-family: 'Roboto', sans-serif;
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            color: #1e354e;
        }
        .contentVCP{
            font-family: 'inter', sans-serif;
            text-align: center;
            font-size: 1em;
            font-weight: bold;
            color: #1e354e;
            width: 45%;
        }
        .imgleft{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            border-radius: 5px;
            height: 80%;
            width: 20%;
            background-image: url("https://www.neige-et-soleil.com/wp-content/uploads/2020/08/paysages-lac-du-mont-cenis-1-credit-photo-alicia-magnenot-1-1300x975.jpg");
            background-size: cover;
        }
        .imgmid{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            border-radius: 5px;
            height: 80%;
            width: 20%;
            background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/6c/51/e4/les-alpages-de-val-cenis.jpg?w=700&h=-1&s=1");
            background-size: cover;
        }
        .imgright{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            border-radius: 5px;
            height: 80%;
            width: 20%;
            background-image: url("https://valcenisvanoise.fr/wp-content/uploads/2022/01/itineraire-des-villages-de-valcenis-800x600.jpg");
            background-size: cover;
        }
        .under_text{
            color: white;
            font-family: 'inter', sans-serif;
            text-align: center;
            font-size: 1.1em;
            font-weight: normal;
        }


    </style>

    <section class="VCenpiste">
        <div class="docVC">
            <h1 class="titleVCP">Val-Cenis en piste</h1>
            <p class="contentVCP">Le VC en piste est un événement qui se déroule sur une piste
                de 400m. Il est ouvert à tous les licenciés de la FFA. Il
                est organisé par le club de l'athlète. Il est composé de 3
                épreuves : le 100m, le 400m et le 1000m. Il est possible de
                participer à une ou plusieurs épreuves. Il est possible de participer
                à un VC en piste sans être licencié à la FFA. Il est possible
                de participer à un VC en piste sans être licencié à un club.</p>
        </div>
        <div class="DiscCard">
            <div class="imgleft">
                <h2 class="under_text"><a href="{{ path('app_galerie') }}">Gallerie Photo</a></h2>
            </div>
            <div class="imgmid">
                <h2 class="under_text">Domaine Skiable</h2>
            </div>
            <div class="imgright">
                <h2 class="under_text">Val-Cenis en été</h2>
            </div>
        </div>
    </section>

    <style>
        .bandeau_info{
            background-color: #485a75;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: row;


        }
        .left_info{
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 80%;
            justify-content: space-between;
        }
        .t280{
            font-family: 'inter', sans-serif;
            font-size: 1.7em;
            font-weight: bold;
            color: white;
            margin-top: 10%;
            margin-left: 30%;
        }
        .t2800{
            font-family: 'inter', sans-serif;
            text-align: center;
            font-size: 2.6em;
            font-weight: bold;
            color: white;
            margin-top: 10%;
            margin-left: 30%;
        }
        .t125{
            font-family: '\"Roboto Mono\"', sans-serif;
            text-align: left;
            font-size: 2.1em;
            font-weight: bold;
            color: #61accf;
            margin-top: 10%;
            margin-left: 20%;
            width: 30%;
        }
        .richesse{
            font-family: '\"Roboto Mono\"', sans-serif;
            text-align: left;
            font-size: 2em;
            font-weight: bold;
            color: white   ;
            margin-top: 10%;
            width: 20%;
        }
        .right_info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
        }
        .location{
            font-family: 'inter', sans-serif;
            text-align: center;
            font-size: 1em;
            font-weight: bold;
            color: white;
            margin-top: 10%;
        }
        .img_savoie{
            background-image: url("https://cdn.discordapp.com/attachments/559439455388303360/1089538463365333194/image_1.png");
            background-size: contain;
            background-repeat: no-repeat;

            width: 50%;
            Height: 80%;
        }
        .join_info{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }


    </style>

    <section class="bandeau_info">
        <div class="left_info">
            <h1 class="t280" style="font-size: 2em;">VAL-CENIS</h1>
            <p class="t2800">monté jusqu'à 2800m</p>
            <div class="join_info">
                <p class="t125">plus de 125 km de piste et 25 remontées mécaniques</p>
                <p class="richesse">une richesse naturel extraordinaire</p>
            </div>

            <p class="t2800">Au cœur de la Savoie dans les Alpes du Nord</p>

        </div>
        <div class="right_info">
            <div class="img_savoie"></div>
            <p class="location">location : val-cenis</p>

        </div>
    </section>
    <style>
        .list-piste{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 30px;

        }
        .title_piste{
            font-family: 'Roboto', sans-serif;
            font-size: 2em;
            font-weight: bold;
            color: white;

            margin: 20px;
            color: #0c4a6e;
        }
        .allpiste{
            display: flex;
            flex-direction: column;

        }
        .cellule_piste{
            display: flex;
            flex-direction: row;
            width: 60%;
            align-items: center;
            justify-content: space-between;
            border-bottom: #0c4a6e  2px solid;
        }
        .Pname{
            font-family: 'Roboto', sans-serif;
            font-size: 1.1em;
            font-weight: bold;
            color: white;
            color: #0c4a6e;
        }
        .colorcheck{
            width: 20px;
            height: 20px;
            background-color: #28e30d;
            border-radius: 50%;
        }

    </style>

    <section class="list-piste">
        <h1 class="title_piste">Domaine de Val cenis</h1>
        <ul class="allpiste">
            {% for piste in pistes %}
                <li class="cellule_piste">
                    <h2 class="Pname">{{ piste.name }}</h2>
                    <p class="Palpnord">Piste Alpine</p>
                    <p class="Phoraire">{{ piste.horaire }}</p>
                    <p class="Pniveau">{{ piste.difficulte }}</p>
                    <p class="Palerte">{{ piste.alerte }}</p>
                    <div class="colorcheck"></div>
                </li>
            {% endfor %}
        </ul>



    </section>
{% endblock %}
