{% extends 'base.html.twig' %}

{% block title %}Galerie index{% endblock %}

{% block body %}
    <h1>Galerie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>ImageUrl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for galerie in galeries %}
            <tr>
                <td>{{ galerie.id }}</td>
                <td>{{ galerie.description }}</td>
                <td>{{ galerie.imageUrl }}</td>
                <td>
                    <a href="{{ path('app_galerie_crud_show', {'id': galerie.id}) }}">show</a>
                    <a href="{{ path('app_galerie_crud_edit', {'id': galerie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_galerie_crud_new') }}">Create new</a>
{% endblock %}
